<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="asset">
      <h2 data-cy="assetDetailsHeading"><span jhiTranslate="treeportApp.asset.detail.title">Asset</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ asset.id }}</span>
        </dd>
        <dt><span jhiTranslate="treeportApp.asset.name">Name</span></dt>
        <dd>
          <span>{{ asset.name }}</span>
        </dd>
        <dt><span jhiTranslate="treeportApp.asset.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'treeportApp.AssetType.' + asset.type }}">{{ asset.type }}</span>
        </dd>
        <dt><span jhiTranslate="treeportApp.asset.orga">Orga</span></dt>
        <dd>
          <div *ngIf="asset.orga">
            <a [routerLink]="['/organisation', asset.orga.id, 'view']">{{ asset.orga.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="treeportApp.asset.parent">Parent</span></dt>
        <dd>
          <div *ngIf="asset.parent">
            <a [routerLink]="['/asset', asset.parent.id, 'view']">{{ asset.parent.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="treeportApp.asset.childrens">Childrens</span></dt>
        <dd>
          <span *ngFor="let childrens of asset.childrens; let last = last">
            <a [routerLink]="['/asset', childrens.id, 'view']">{{ childrens.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/asset', asset.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
